{% extends "index.html" %}
{% block title %}Cuentas - Empresas{% endblock %}

{% block content %}
  
  <div class="container-fluid">
    <div class="jumbotron">
      <h2><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Empresas</h2><hr>

      <a href="/agregar_empresa"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nueva Empresa</button></a><hr>

  <table class="display compact" style="width:100%" id="companiesTable">
    <thead>
      <tr>
        <th class='text-nowrap text-center'>Empresa</th>
        <th class='text-nowrap text-center'>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for companie in companies %}
        <tr>
          <td align="center">{{ companie.empresa }}</td>
          <td class='text-nowrap' align="center">

              <a href="/update_companie/{{ companie.id }}" class="btn btn-primary "><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Editar</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table><hr>
  <div class="alert alert-info"><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span> <strong>Cantidad de Registros:</strong> {{ count }} </div><hr>

</div>
</div>


{% endblock %}