{% extends "index.html" %}
{% block title %}Cuentas - Ingreso{% endblock %}
{% block content %}

<div class="container">
	<div class="jumbotron">

		 <form action="" method="POST">
			  
			  <div class="form-group">
			    <label for="email">Email:</label>
			    <input type="email" class="form-control" id="user" name="user" placeholder="Ingrese su Email">
			  </div>
			  <div class="form-group">
			    <label for="pwd_1">Password:</label>
			    <input type="password" class="form-control" id="pwd" name="pwd" placeholder="Ingrese su Password">  
			  </div>
			  
			  <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Ingresar</button>
		</form> 

	</div>
</div>


{% endblock %}