{% extends "index.html" %}
{% block title %}Cuentas - Pagos{% endblock %}

{% block content %}
  
  <div class="container-fluid">
    <div class="jumbotron">
      <h2><span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span> {{ user.name }} - Mis Pagos Realizados</h2><hr>

      <a href="/agregar_pago/{{ user.id }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nuevo Pago</button></a><hr>

  <table class="display compact" style="width:100%" id="paymentTable">
    <thead>
      <tr>
        <th class='text-nowrap text-center'>Servicio</th>
        <th class='text-nowrap text-center'>Fecha Vencimiento</th>
        <th class='text-nowrap text-center'>Empresa</th>
        <th class='text-nowrap text-center'>Fecha Pago</th>
        <th class='text-nowrap text-center'>Importe</th>
        <th class='text-nowrap text-center'>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for pay in pays %}
        <tr>
          <td align="center">{{ pay.servicio }}</td>
          <td align="center">{{ pay.fecha_venc }}</td>
          <td align="center">{{ pay.empresa }}</td>
          <td align="center">{{ pay.fecha_pago }}</td>
          <td align="center">${{ pay.importe }}</td>
          <td class='text-nowrap' align="center">

              <a href="/update_payment/{{ pay.id }}" class="btn btn-primary "><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Editar</a>
              <a href="/delete_payment/{{ pay.id }}" class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Borrar</a>
              {% if pay.comprobante is none %}
              <a href="/add_ticket/{{ pay.id }}" class="btn btn-warning"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> Añadir Comprobante</a>
              {% else %}
              <a href="/open_ticket/{{ pay.comprobante }}" class="btn btn-success" target="_blank"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Ver Comprobante</a>
              {% endif %}
              <a href="/info_extended/{{ pay.id }}" class="btn btn-info"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Info Extendida</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table><hr>
  <div class="alert alert-info"><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span> <strong>Cantidad de Registros:</strong> {{ count }} </div><hr>

</div>
</div>


{% endblock %}